body {
  background-image: url(../imagens/FUNDO\ TELA.png);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cadastro1 {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 355px;
  height: 600px;
  padding: 45px;
  border-radius: 17px;
}
form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.cadastro input{
  margin-top: 4px;
  background-color: rgb(196, 194, 194);
  background-color: white;
  height: 35px;
  border: none;
  color: black;
  border-bottom: 1px solid black;
}
.cadastro select {
  margin-top: 4px;
  background-color: rgb(196, 194, 194);
  background-color: white;
  font-size: 17px;
  height: 35px;
  border: none;
  color: black;
  border-bottom: 1px solid black; 
}

input::placeholder {
  color: black;
  font-size: 17px;
}

button {
  margin-top: 7px;
  height: 35px;
  background-color: #FF993A;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

@media (max-width: 480px) {
  .cadastro1 {
    height: 650px;
  }
}
