body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(94, 0, 0);
}

.barravertical {
    width: 2px;
    height: 595px;
    left: 238px;
    top: 0px;
    position: absolute;
    background: #F0F0F0;
}

.menu {
    width: 148px;
    height: 281px;
    left: 44px;
    top: 176px;
    position: absolute;
}

.home, .carteira, .mensagens, .ajustes {
    color: #BDBDBD;
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;
    word-wrap: break-word;
    text-decoration: none;
}

.recursos {
    color: #369FFF;
    font-size: 14px;
    font-family: "Arial";
    font-weight: 600;
    word-wrap: break-word;
    text-decoration: none;
}

.menuitem {
    font-size: 14px;
    font-family: Arial;
    word-wrap: break-word;
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.menuitem a:hover {
    color: #369FFF;
}

.icone {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.logo1 {
    width: 153px;
    height: 152px;
    left: 35px;
    position: relative;
}

.infousuario {
    height: 60px;
    left: 1650px;
    top: 1px;
    position: absolute;
    padding-right:15px;
}

.fundoinfouser {
    width: 243px;
    height: 60px;
    left: 0px;
    top: 0px;
    position: absolute;
    opacity: 0.10;
    background: #369FFF;
    border-radius: 16px;
}

.fotousuario {
    width: 40px;
    height: 40px;
    left: 10px;
    top: 10px;
    position: absolute;
    border-radius: 10px;
}

.nomeusuario {
    left: 65px;
    top: 10px;
    position: absolute;
    color: #303030;
    font-size: 14px;
    font-family: 'Arial';
    font-weight: 600;
}

.titulo {
    text-align: left;
    padding-left: 300px;
    color: #303030;
    font-size: 30px;
    font-family: 'Manrope';
    font-weight: 700;
    margin-top: -90px;
}
.tituloopcoes{
    font-family: 'Manrope';
    font-size: 20px;
    text-align: center;
    color: #303030;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 20px;
}
.topicos {
    display: flex;
    justify-content: space-between;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.fundoopcao {
    background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 35px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.textoopcao {
    text-decoration: none;
    text-align: justify;
    color: #303030;
    font-size: 17px;
    font-family: 'Manrope';
    font-weight: 600;
}
.textoopcao:hover {
    color: #369FFF;
}
.opcoes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.titulo-opcoes-container:first-child {
    margin-left: 288px;
}

@media only screen and (min-width: 1366px) and (max-width: 1370px) {

    .titulo {
        text-align: left;
        padding-left: 300px;
        color: #303030;
        font-size: 30px;
        font-family: 'Manrope';
        font-weight: 700;
        margin-top: -90px;
    }
    .tituloopcoes{
        margin-right: 25px;
        font-family: 'Manrope';
        font-size: 18px;
        text-align: center;
        color: #303030;
        font-weight: 400;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .textoopcao {
        text-decoration: none;
        text-align: justify;
        color: #303030;
        font-size: 17px;
        font-family: 'Manrope';
        font-weight: 600;
    }
    .fundoopcao {
        background-color: #f2f2f2;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        text-align: center;
        width: 150px;
        height: 35px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .infousuario {
        height: 60px;
        left: 80%;
        top: 25px;
        position: absolute;
        padding-right: 15px;
}
}
