
body {
    margin: 0;
}

.area-total {
    display: grid;
    justify-content: end;
    height: 100vh;
}

.area-amarela {
    background-color: #FFD143;
    height: 100vh;
    width: 555px;
    display: flex;
    justify-content: end;
    align-items: end;
    border-top-left-radius: 50px;
    box-shadow: -1px 0px 40px black;
}

.area-laranja {
    background-color: #FF993A;
    height: 97.8vh;
    width: 524px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 55px;

}

.area-login {
    height: 653px;
    width: 457px;
    ;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F2F3;
    box-shadow: 8px 8px 40px 0px rgb(99, 66, 4);


}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

input {
    margin: 15px;
    padding: 5px;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    width: 300px;
}

.botao {
    height: 41.19px;
    width: 264.41px;
    background-color: #DEDDE5;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.links{
    text-decoration: none;
    color: #369FFF;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
